table,tr,td{
background-color: ghostwhite ;
font-family: century gothic;
color: black;
border: 1px black;
padding: 5px;
border-collapse: collapse;
}
.h{
border: 8px groove yellow;
padding: 20px;
}
.posisi{
position: absolute;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
margin-top: auto;
left: 0;
right: 0;
top: 100px;
bottom: 0;
}
body{
background-image: url('../img/bg.jpg');
background-repeat: no-repeat;
background-size: cover;
}