<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input data user</title>
</head>
<body>
    <div id="root">
        <input type="text" id="input" v-model="tambahusers">
        <button @click="add">add</button>
           
            
                     <ul>              
                        <li v-for="usr in users">
                            {{ usr.name }}
                            <button @click="edit">edit</button> 
                        </li>
                     </ul>
                     
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        const app = new Vue ({
            el: '#root',
            data : {
                tambahusers : '',
                users :[
                        {
                            'name' : 'glen',
                        },
                        {
                            'name' : 'Ruby ',
                        },
                        {
                            'name' : 'Faqih ',
                        },
                    ],
            },
            methods: {
                add() {  
                    this.users.push(this.tambahusers);    
                    this.tambahusers = '';
                },
                edit() {
                   
                }
            }
        })
    </script>
</body>
</html>