<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width-Ddevice-width, initial-scale-1.0">
  <title>Document</title>
</head>
<body>
 <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
 <div class="container">
<div id="app">
  <input v-model="query" placeholder="Ketikkan Kata Kunci">
  <li
    v-for="(mata, index) in result"
    v-bind:key="mata.pelajaran"
    v-bind:data-index="index"
    >{{ mata.pelajaran }}
  </li>
  <script>
    new Vue({
      el: "#app",
      data: {
        query:"",
        books:[
          {pelajaran: "Kalkulus Dasar"},
          {pelajaran: "Fisika Dasar"},
          {pelajaran: "Aljabar Linier Elementer"},
          {pelajaran: "Aljabar Abstrak"},
          {pelajaran: "Algortima Pemrograman"},
        ],
        isSearching:false,
        result: []
      },
      watch: {
        query: function () {
          var vm = this
          this.isSearching = true;
          setTimeout(function(){
  
                      vm.result = vm.books.filter(function (mata){
                  return mata.pelajaran.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
                 })
               }, 500)
             }
            },
           });
         </script>
       </div>
      </div>
    </body>
</html>